<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            From  <a href='https://news.ycombinator.com/' target="_blank">Hacker News</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>